



body{
    background-color: aliceblue;
}






#APP-GRID {
    width: 100%;
    height: auto;
    grid-row-gap: 60px;
    grid-template-rows: auto auto auto auto;

    grid-template-areas: ". . ."
        ". ICON ."
        ". . .";

}








$purple: #3D4399;
$background: #535F82;
$muted: #737373;
$white: #ffffff;
$button-font-size: 0.6rem;

* {
    padding: 0px;
    margin: 0px;
}

#wrapper {
    background: $background;
    width: 100%;
    height: 100vh
}

.card {
    display: grid;
    width: 100%;
    height: auto;
    grid-row-gap: 60px;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "NAME"
                         "EMAIL"
                         "COMMENT"
                         "SUBMIT"
                         "OUTPUT";
    border-radius: 4px;
    border: 4.5px solid #555050;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    width: 90%;

    img {
        border: 3px solid $purple;
    }

    h4 {
        color: $muted;
        font-family: Helvetica, sans-serif;
        font-weight: bold;
        letter-spacing: -0.1rem;
        padding-bottom: 0.5rem;
    }

    textarea {

        box-sizing: border-box;
        width: 100%;
        background: #eee;
        outline: #2e2e2e;
        border-style: solid;
        border-width: 5px;
        
        padding: 0.5rem;
        resize: none;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.19);
        border-radius: 2px;
        margin-bottom: 0.3rem;
        color: $muted;
    }

    button {
        background: $purple;
        color: $white;
        padding: 0.3rem 0.5rem;
        border-radius: 0.4rem;
        font-size: $button-font-size;
        text-transform: uppercase;
        font-weight: light;
        letter-spacing: 2px;
        border: none;
        cursor: pointer;
        outline: none;

        &:hover {
            background: #989898;
            transition: all 1s;
        }
    }

    ul {
        border-top: 1px solid $muted;
        padding-top: 15px;
        margin-top: 15px;
    }

    li {
        list-style: none;
        display: inline-block;
        padding-right: 25px;
        cursor: pointer;

        &:hover {
            opacity: 0.4;
            transition: color 3s;
        }
    }

    li.like::after {
        font-family: 'Font Awesome 5 Free';
        content: "\f164";
        visibility: visible;
        font-weight: 900;
        padding-left: 5px;
    }

    li.likeClicked {
        color: $purple;

        &:hover {
            opacity: 1;
            cursor: default;
        }
    }

    li.reply::after {
        font-family: 'Font Awesome 5 Free';
        content: "\f4ad";
        visibility: visible;
        font-weight: 900;
        padding-left: 5px;
    }
}

.statusBox {
    background: #eee;
    padding: 1rem;
    animation-name: fadeIn;
    animation: fadeIn 1.5s;
    border-radius: 5px;
    font-size: 14px;
    color: $muted;
    margin-top: 15px;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

input.removeButton {
    background: $purple;
    color: #fff;
    padding: 0.1rem 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: $button-font-size;
    text-transform: uppercase;
    font-weight: light;
    letter-spacing: 2px;

    &:hover {
        background: #989898;
        transition: all 1s;
    }
}

.shit {
    background: #eee;
    padding: 10px;
}

.deleteComment {
    float: right;
    cursor: pointer;

    &:hover {
        opacity: 0.3;
        transition: all 1s;
    }

    &::before {
        font-family: 'Font Awesome 5 Free';
        content: "\f2ed";
        visibility: visible;
        font-weight: 900;
        float: right;
        padding-left: 5px;
    }
}


#NAME{
    
    height: auto;
    border-radius: 3px;
    border: 1px solid #2e2e2e;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-width: 1.5px;
}

#EMAIL {

    height: auto;
    border-radius: 3px;
    border: 1px solid #2e2e2e;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-width: 1.5px;
}

#COMMENT {

    height: auto;
    border-radius: 3px;
    border: 1px solid #2e2e2e;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-width: 1.5px;
}




#CONTAINER {
    height: auto;
    width: 100%;    
}


#GRID {
    display: grid;
    height: auto;
    width: 100%;
}


