













/*******************************************************************************************************************/
body {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}










.horizontal {
    width: 100%;
    height: auto;
    max-height: none;
    display: grid;
    grid-row-gap: 0px;
    justify-content: center;
    grid-template-rows: auto auto auto;
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-align-content: start;
    -ms-flex-line-pack: start;
    align-content: start;
    grid-template-columns: 1fr;
    grid-template-areas: "HEADER"
                         "COMMENTS"
                         "FOOTER"
}










#COMMENT-BOX-MAIN{
    grid-area: COMMENTS;
}






.center-holder {
    width: 100vw;
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgb(236, 236, 236);
}
/*******************************************************************/































/****************************************************HEADER CLOCK*******************************************/
#HEADER {
    width: 100vw;
    height: auto;
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    grid-column-gap: 40px;
    grid-row-gap: 60px;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto auto auto;
    background-color: #2e2e2e;
    grid-template-areas: ". . ."
                         ". CLOCK ."
                         ". . .";
}



#CLOCK-CONTAINER {
    grid-area: CLOCK;
}




#CONTAINER-TOP {
    display: flex;
    width: 100%;
    background-color: #2e2e2e;
    justify-content: center;
}

/****************************************************HEADER CLOCK*******************************************/


























/****************************************************MAIN*************************************************/
#MAIN-CONTAINER {
    width: 90vw;
    height: auto;
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    place-items: center;

    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 100px auto 1fr 1fr 100px;
    grid-template-areas: ". . ."
                         ". MAIN_TITLE ."
                         ". COMMENT_BOX ."
                         ". COMMENTS .";
}



#TITLE {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    grid-area: MAIN_TITLE;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-template-areas: "TITLE TITLE TITLE ";
    max-width: 700px;
}


#GRID {
    grid-area: TITLE;
    width: 100%;
    height: auto;
    max-width: 700px;
}


#GRID-CONTAINER {
    width: 100%;
    height: auto;
    display: grid;

    grid-area: REACT_ACCORDION;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-template-areas: ". ACCORDION ACCORDION";
}


#HOLDER {
    width: 100%;
    height: 100%;
}


#TEXT {
    grid-area: TEXT;
    width: 100%;
    height: auto;   
}



#COMMENT_BOX {
    grid-area: COMMENT_BOX;
    width: 100%;
    height: auto;
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "MAIN_TITLE MAIN_TITLE MAIN_TITLE";
    max-width: 700px; 
    ;
}


#COMMENT_GRID {
    grid-area: MAIN_TITLE;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 40px 5px 50px 5px 40px 5px 50px 5px 40px 5px 50px 10px 300px 10px 70px 100px 300px;
    grid-row-gap: 0px;    
    grid-template-columns: 1fr;
    grid-template-areas: 
    "TITLE-1" 
    "."
    "TEXT-AREA-1"
    "."
    "TITLE-2"
    "."
    "TEXT-AREA-2"
    "."
    "TITLE-3"
    "."
    "TEXT-AREA-3"
    "."
    "COMMENT-AREA"
    "."
    "SUBMIT-BUTTON"
    "."
    "COMMENTS";

}


#COMMENTS-APPEND {
    grid-area: AREA;
    border: 5px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 40px 5px 40px 5px auto;
    grid-row-gap: 0px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "NAME"
        "."
        "DATE"
        "."
        "BODY";
}






#COMMENT-HOLDER {
    grid-area: COMMENTS;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 40px 10px auto;
    grid-template-columns: 1fr;
    grid-template-areas:
            "NAME"
            "."
            "AREA";
    max-width: 700px;
}

#COMMENT-AREA {
    grid-area: COMMENT-AREA;
    width: 100%;
    height: 100%;
    
    box-shadow: 1px 1px 8px 1px rgba(174, 176, 36, 0.299);
}

#COMMENTS {
    grid-area: COMMENT-AREA;
    width: 100%;
    height: 100%;
}


#TEXT-AREA-3 {
    grid-area: TEXT-AREA-3;
    width: 100%;
    height: 100%;
    
    box-shadow: 1px 1px 8px 1px rgba(174, 176, 36, 0.299);
}





#TEXT-AREA-1 {
    grid-area: TEXT-AREA-1;
    width: 100%;
    height: 100%;
    
    box-shadow: 1px 1px 8px 1px rgba(174, 176, 36, 0.299);

}



#TEXT-AREA-2 {
    grid-area: TEXT-AREA-2;
    width: 100%;
    height: 100%;
    
    box-shadow: 1px 1px 8px 1px rgba(174, 176, 36, 0.299);
}



#LABEL-1 {
    grid-area: TITLE-1;

    
}


#LABEL-2 {
    grid-area: TITLE-2;
}


#DATE {
    grid-area: TITLE-3;
}



#nameResult {
    grid-area: NAME;
}


#dateResult {
    grid-area: DATE;
}

#commentResult {
    grid-area: BODY;
}



#SUBMIT-COMMENT {
    grid-area: SUBMIT-BUTTON;
    
    box-shadow: 1px 1px 8px 1px rgba(174, 176, 36, 0.105);
   
}



.TEXT-AREA {
    grid-area: COMMENT-AREA;
    width: 100%;
    height: 100%;
}


.card {
    grid-area: AREA;
    width: 100%;
    height: 100%;
}
/****************************************************MAIN*************************************************/



































/****************************************************FOOTER*************************************************/
#FOOTER {
    width: 100vw;
    height: auto;
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    grid-column-gap: 40px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 20px auto 20px;
    background-color: #2e2e2e;
    grid-template-areas: ". . ."
        ". IMAGE ."
        ". . .";
}




#CONTAINER-BOTTOM {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #2e2e2e;
    justify-content: center;
    align-items: center;
}



#FOOTER-TEXT {
    grid-area: TEXT;



}


#FOOTER-HOLDER {
    grid-area: IMAGE;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "TEXT TEXT IMAGE"

}



#FOOTER-IMAGE {
    display: flex;
    grid-area: IMAGE;
    justify-content: right;
}
/****************************************************FOOTER*************************************************/

















/******************************FONTS***************************/
h1 {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;   
}


h2 {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
}


h3 {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
}

p {
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}
/******************************FONTS***************************/

